NETWORK=testnet
EXPLORER=tonviewer

WALLET_VERSION=v5r1
WALLET_SECRET=

CLIENT_PROVIDER=lite
CLIENT_API_KEY=
CLIENT_LITE_CONFIG=
CLIENT_RPS_LIMIT=50
CLIENT_RPS_PERIOD=1.0

TONCONNECT_MANIFEST_URL=https://raw.githubusercontent.com/nessshon/ton-mcp/main/assets/tonconnect-manifest.json
TONCONNECT_STORAGE_PATH=./tonconnect-storage.json
TONCONNECT_APP_DOMAINS=["github.com"]
TONCONNECT_SECRET=ton-mcp-secret

MCP_SERVER_HOST=127.0.0.1
MCP_SERVER_PORT=0